<!DOCTYPE HTML>
<html>
	<head>
		<title>Mistrzostwa Bydgoskich Szkół Średnich w e-sporcie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="data/controller/controller.js"></script>
		<script src="data/controller/jsonloader.js"></script>
		<script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="assets/css/main.css" rel="stylesheet" />
		<link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css"/>
	</head>
	<body ng-app="esport" ng-controller="mainController">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="img/logo.png" alt="" width="300"/></span>
						<h1>{{website.description}} <br/>w eSporcie</h1>
						<p> {{website.hint}}</p>
							<a href="regulamin.html" class="button special">Zgłoszenie do turnieju</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#">Początek</a></li>
							<li ng-if="streamAvailable()"><a href="#stream">Stream</a></li>
							<li><a href="#intro" class="active">Gry</a></li>
							<li><a href="#sponsorzy">Sponsorzy</a></li>
							<li><a href="#terminarz">Terminarz</a></li>
							</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Stream -->
							<section id="stream" class="main special" ng-if="streamAvailable()">
								<header> <h2> Stream jest dostępny! </h2> </header>
								<div ng-if="!loadStream">
									<input type="button" class="btn-sm" ng-click="showStream(true)" value="Oglądaj">
								</div>
								<div ng-if="loadStream">
									<iframe src="https://player.twitch.tv/?channel=esportbydgoszcz" frameborder="0" scrolling="no" height="378" width="100%"></iframe>
									<iframe src="https://www.twitch.tv/esportbydgoszcz/chat?popout=" frameborder="0" scrolling="no" height="378" width="100%"></iframe>
								</div>
								<div ng-if="loadStream">
									<input type="button" class="btn-sm" ng-click="showStream(false)" value="Wyłącz">
								</div>
							</section>
							
						<!-- Games -->
							<section id="intro" class="main">
								<div class="spotlight" ng-repeat="game in website.games">
									<div class="content">
										<header class="major">
											 <h2>{{game.name}} &nbsp; <img src="img/games/{{game.producer}}.png" height="25"/></h2>
										</header>
										<p>{{game.description}}</p>
									</div>
									<img src="img/games/{{game.image}}.png" alt="" width="250" heigth="auto"/>
								</div>
							</section>

						<!-- First Section -->
							<section id="sponsorzy" class="main special">
								<header class="major">
									<h2>Wspierają nas</h2>
								</header>
								<div ng-if="sponsors.main.length > 0">
								<h3>Sponsorzy</h3>
									<ul class="features">
										<li ng-repeat="sponsor in sponsors.main" class="effectfront">
											<a style="text-decoration:none;" href="{{sponsor.link}}"><span class="icon major"> 
												<img src="img/sponsors/{{sponsor.logo}}.png" height="150"> </span>
											</a>
											<h4>{{sponsor.name}}</h4>
										</li>
									</ul>
								</div>
								<div ng-if="sponsors.partners.length > 0">
									<h3>Partnerzy</h3>
									<ul class="features">
										<li ng-repeat="sponsor in sponsors.partners" class="effectfront">
											<a style="text-decoration:none;" href="{{sponsor.link}}"><span class="icon major"> 
												<img src="img/sponsors/{{sponsor.logo}}.png" height="100"> </span>
											</a>
											<h4>{{sponsor.name}}</h4>
										</li>
									</ul>
								</div>
								<div ng-if="sponsors.patrons.length > 0">
								<h3>Patroni medialni</h3>
								<ul class="features">
									<li ng-repeat="sponsor in sponsors.patrons" class="effectfront">
										<a style="text-decoration:none;" href="{{sponsor.link}}"><span class="icon major"> 
											<img src="img/sponsors/{{sponsor.logo}}.png" height="80"> </span>
										</a>
										<h4>{{sponsor.name}}</h4>
									</li>
								</ul>
								</div>
								<a href="#sponsoruj"><h3>Sponsoruj nas!</h3></a>
							</section>

						<!-- Get Started -->
							<section id="terminarz" class="main special">
								<header class="major">
									<h2>Terminarz imprezy</h2>
									<timeline>
    									<timeline-event ng-repeat="event in events" side="">
      											<timeline-badge class="{{event.badgeClass}}">
        										<i class="glyphicon {{event.badgeIconClass}}"></i>
      											</timeline-badge>
      										<timeline-panel class="{{event.badgeClass}}">
        										<timeline-heading>
          										<h3>{{event.title}}</h3>
        										</timeline-heading>
        									<p>{{event.content}}</p>
      										</timeline-panel>
    									</timeline-event>
  									</timeline>
								</header>
							</section>
						</div>
					
				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2 id="sponsoruj">Zostań Sponsorem</h2>
							<p>{{website.sponsors.invite}}<br>
							{{website.sponsors.contactPerson }}, tel.: {{website.sponsors.phone }} </p>
							<p align="center"><a href="organizatorzy.html" class="button special">Organizatorzy</a></p>
							<h3 align="center">Oferta dla graczy</h3>
							<p align="center"><a href="https://www.g2a.com/r/mbssweh1z1"><img src="img/sponsors/g2a.png" /> </a></p>
						</section>
						<section>
							<h2>Miejsce Imprezy</h2>
							<dl class="alt">
								<dt>Adres</dt>
								<dd> {{ website.address }} <br> {{website.location}} </dd>
								<dd><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2394.1679247933876!2d17.984919515830125!3d53.125131079933254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470313b141a28b6d%3A0x873240548ca531e4!2zxZp3acSZdGVqIFRyw7NqY3kgMzcsIEJ5ZGdvc3pjeiwgUG9sc2th!5e0!3m2!1spl!2sbe!4v1476798687043" width="275" height="275" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
								<dt>Telefon</dt>
								<dd> {{ website.phone }} </dd>
								<dt>Email</dt>
								<dd><a href="mailto:{{website.mail}}"> {{ website.mail}} </a></dd>
							</dl>
							<ul class="icons">
								<li><a href="{{website.facebook}}" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="{{website.twitch}}" class="icon fa-twitch alt"><span class="label">Twitch</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; eSport Bydgoszcz. Design by <a href="http://GingerCat.nl"> GingerCat</a> using: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>