<!DOCTYPE HTML>
<html>
	<head>
		<title>Organizatorzy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="data/controller/organizerController.js"></script>
		<script src="data/controller/jsonloader.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="assets/css/main.css" rel="stylesheet" />
	</head>
	<body ng-app="esport" ng-controller="organizerController">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Organizatorzy turnieju</h1>
						<p>{{ website.organizers.description }}</p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Organizatorzy -->
							<section id="organizatorzy" class="main special">
								<ul class="statistics">
									<li class="style{{getRandomStyle()}}" ng-repeat="person in organizers.main">
										<img src="{{person.photo}}" height="150"><br>
										{{person.name}} <br/>{{person.description}}
									</li>
								</ul>
								<ul class="statistics" ng-repeat="unit in organizers.next">
										<li class="style{{getRandomStyle()}}" ng-repeat="person in unit">
										<img src="{{person.photo}}" height="150"><br>
										{{person.name}} <br/> {{person.description}}
									</li>
								</ul>	
								<ul class="statistics">
									<li class="style{{getRandomStyle()}}">
									<img src="img/organizers/gingercat.jpg" height="150"><br>
									Jacek Dwulit aka GingerCat<br/>
									Strona internetowa	
									</li>
								</ul>
							</section>
					</div>
					
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright"><a href="index.html" class="btn btn-default">Strona Główna</a><br/><br/>
						&copy; eSport Bydgoszcz. Design by <a href="http://GingerCat.nl"> GingerCat</a> using: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>